{% import "layouts/macros.njk" as macros %}
<header class="">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="w-full py-3 lg:py-6 flex items-center justify-center border-b border-base-300 lg:justify-between lg:border-none">
      <a href="/" class="flex items-center" >
        <img class="h-10 w-auto hover:animate-[spin_1s_ease-in-out_alternate-reverse_infinite]" src="/icon.png" alt="small, unrecognizable picture of me">
        <span class="text-3xl pl-4 tracking-tight font-extrabold sm:text-4xl">{{metadata.title}}</span>
      </a>
      <span class="flex lg:flex-grow"></span>
      <nav class="hidden ml-10 space-x-8 lg:block" aria-label="Header Navigation">
        {{macros.navLinks(metadata.navLinks, page.url)}}
      </nav>
    </div>
    <nav class="py-2 flex flex-wrap justify-center space-x-6 lg:hidden" aria-label="Header Navigation">
      {{macros.navLinks(metadata.navLinks, page.url)}}
    </nav>
  </div>
</header>
