{{ partial "header" . }}
<div class="page-content">
    <div class="row">
        <div class="twelve columns">
            {{ .Content }}
        </div>
        <div class="twelve columns">
            <ul class="project-list">
                {{ range first 10 .Data.Pages }}
                <li class="project-item">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <p>{{ .Description }}</p>
                    <hr/>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ partial "footer" . }}