<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}: {{ .Site.Title }}</title>
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="script.js"></script>
</head>

<body class="container">
    <div class="row">
        <div class="twelve columns">
            {{ partial "header-bar" .}}