<div class="header">
    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
        <a class="pure-menu-heading" href="/">Vinay Raikar</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="/blog" class="pure-menu-link">Blog</a>
            </li>
            <li class="pure-menu-item">
                <a href="/projects" class="pure-menu-link">Projects</a>
            </li>
            <li class="pure-menu-item">
                <a href="/about-me" class="pure-menu-link">About Me</a>
            </li>
        </ul>
    </div>
</div>