<div class="header">
    <div class="header__content">
        <div class="row">
            <div class="one-half column">
                <h1 class="header__title">
                    <a href="/" class="header__title-link">Vinay Raikar</a>
                </h1>
            </div>
            <div class="one-half column">
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a href="/blog" class="header__menu-link">Blog</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/projects" class="header__menu-link">Projects</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/about-me" class="header__menu-link">About Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>