---
permalink: vinayraikar.webmanifest
---
{
  "$schema": "https://json.schemastore.org/web-manifest-combined.json",
  "name": "{{metadata.title}}",
  "short_name": "{{metadata.title}}",
  "start_url": ".",
  "display": "standalone",
  "background_color": "#fff",
  "description": "{{metadata.description}}",
  "icons": [
    {
      "src": "/icon.png",
      "sizes": "128x128",
      "type": "image/png"
    }
  ]
}
